<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Testtask</title>
    <meta charset="UTF-8" />
</head>

<body>
Please enter your name and pick the Sectors you are currently involved in.
<br>
<br>
Name:
<input type="text">
<br>
<br>
Sectors:
Sectors: <select name="sectors" multiple="multiple" size="10" required>
    <option th:each="sector: ${sectors_dto}"
            th:value="${sector.id}"
            th:selected="${sector.isSelected()}"
            th:text="${sector.name}">
    </option>
</select>

<br>
<br>
<input type="checkbox"> Agree to terms

<br>
<br>
<input type="submit" value="Save">
</body>
</html>
