<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org"/>
</head>

<body>
Please enter your name and pick the Sectors you are currently involved in.
<br>
<br>
Name:
<input type="text">
<br>
<br>
Sectors:
<select multiple="" size="50">
    <option value="1">Manufacturing</option>
    <option value="19">&nbsp;&nbsp;&nbsp;&nbsp;Construction materials</option>
    <option value="18">&nbsp;&nbsp;&nbsp;&nbsp;Electronics and Optics</option>
    <option value="6">&nbsp;&nbsp;&nbsp;&nbsp;Food and Beverage</option>
    <option value="342">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bakery &amp; confectionery products</option>
    <option value="43">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beverages</option>
    <option value="42">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fish &amp; fish products </option>
</select>

<br>
<br>
<input type="checkbox"> Agree to terms

<br>
<br>
<input type="submit" value="Save">
</body>
</html>
